* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.background {
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  color: grey;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .logo-title {
  display: inline-block;
  font-weight: 700;
}

.btn {
  cursor: pointer;
}

.btn-yellow {
  background-color: #DBF301;
  border: 2px solid #DBF301;
  font-weight: 500;
}
.btn-yellow:active {
  background-color: #c8de02;
  border-color: #c8de02;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #DBF301;
  font-weight: 500;
}
.btn-outline:active {
  background-color: #e8e8e8;
}

.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  justify-content: center;
}
.face h1 {
  font-weight: 800;
  width: 60%;
  margin: 0 auto;
}

.company {
  margin: 4rem 5%;
  display: grid;
  align-items: center;
  justify-items: center;
}
.company .company-item {
  margin: 5%;
}

.floating-text {
  text-align: center;
  margin: auto;
  width: 60%;
  margin: 5rem auto;
}

.feature-box {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}

.grid-feature {
  display: grid;
  gap: 2px;
  background-color: #e8e8e8;
  margin: 5%;
}

.feature-title {
  font-weight: 500;
}

.feature-subtitle {
  width: 95%;
}

#team {
  text-align: center;
}
#team img {
  width: 95%;
}

.tml-review {
  font-weight: 500;
}
.tml-review .desig span {
  color: #64748B;
}

.tml {
  display: flex;
}

.testimonial {
  display: flex;
}

.price-card {
  text-align: center;
  color: white;
}
.price-card h1 {
  font-weight: 700;
  font-size: 1.4583333333vw;
  padding-top: 2.1527777778vw;
}
.price-card h2 {
  font-weight: 400;
  font-size: 1.1111111111vw;
  margin-top: 0.1513888889vw;
}

.price-card-free {
  text-align: center;
  color: black;
}
.price-card-free h1 {
  font-weight: 700;
  font-size: 1.4583333333vw;
  padding-top: 2.1527777778vw;
}
.price-card-free h2 {
  font-weight: 400;
  font-size: 1.1111111111vw;
  margin-top: 0.1513888889vw;
}

.price-card-premium span {
  font-family: "Inter", sans-serif !important;
}

.price-card-free span {
  font-family: "Inter", sans-serif !important;
}

.amount {
  font-size: 3.3333333333vw;
  font-weight: 700;
}

.price {
  margin-top: 1.6326388889vw;
}

.month {
  font-size: 1.1111111111vw;
}

.premium-hr {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.1254901961);
  margin-top: 1.3888888889vw;
}

.free-hr {
  border: 0;
  height: 1px;
  background: #E5EAF1;
  margin-top: 1.3888888889vw;
}

.price-card-ul {
  list-style-type: none;
  margin-top: 2.2222222222vw;
}
.price-card-ul li {
  font-size: 1.1111111111vw;
  margin: 1.7361111111vw;
}

.price-btn {
  font-weight: 600;
  font-size: 1.1111111111vw;
  width: 13.8888888889vw;
  height: 3.8888888889vw;
  border-radius: 0.5555555556vw;
  margin-top: 1.0416666667vw;
  cursor: pointer;
  border: none;
}

.btn-premium {
  color: #485AFF;
}

.btn-free {
  background-color: #485AFF;
  color: white;
}

.price-card-premium {
  background-color: #485AFF;
  border: 2px solid #485AFF;
}

.price-card-free {
  height: 33.0555555556vw;
  width: 22.0833333333vw;
  border: 1px solid #E5EAF1;
}

.price-title {
  font-weight: 600;
  font-size: 2.9166666667vw;
  flex-basis: 50%;
  margin: 0.6944444444vw 1.3888888889vw;
}

.price-title p {
  width: 100%;
}

.price-card {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  gap: 4.5833333333vw;
}

.pricing-div {
  display: flex;
  margin: 10.4166666667vw 5.1388888889vw 0;
}

.bottom {
  height: 22.9861111111vw;
  background-color: #110D33;
  color: white;
}
.bottom a {
  color: white;
}

.social-media img {
  width: 1.9444444444vw;
  margin-left: 0.8333333333vw;
}

.footer-hr {
  border: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1254901961);
  width: 90vw;
  margin: 0 auto;
  margin-top: 7.0138888889vw;
}

.footer-list {
  font-size: 0.9722222222vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer-list a {
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer-list li {
  margin-top: 1.3888888889vw;
}

@media only screen and (min-width: 916px) and (max-width: 1920px) {
  .background {
    background-image: url("./assets/images/bg-main.png");
    background-size: 95%;
    background-position: center 45%;
  }
  .option {
    display: none;
  }
  .nav {
    padding: 2.3611111111vw 4.9305555556vw 0;
  }
  .logo {
    flex-basis: 20%;
  }
  .logo img {
    height: 2.0833333333vw;
  }
  .logo .logo-title {
    font-size: 1.1111111111vw;
    letter-spacing: 0.2083333333vw;
    margin-left: 1.1111111111vw;
  }
  .sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1111111111vw;
    flex-basis: 20%;
  }
  .sign span {
    margin-right: 1.6666666667vw;
  }
  .section {
    font-size: 1.1111111111vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30%;
  }
  .btn {
    width: 8.5416666667vw;
    height: 3.6111111111vw;
    border-radius: 0.6944444444vw;
    font-size: 1.1111111111vw;
  }
  .face .face-title {
    font-size: 2.7777777778vw;
  }
  .face .face-title h1 {
    margin-bottom: 2.0833333333vw;
  }
  .face .face-subtitle {
    font-size: 1.6666666667vw;
    margin-bottom: 2.0833333333vw;
  }
  .face .btn-outline {
    margin-left: 1.3888888889vw;
  }
  .company {
    grid: 1fr/repeat(4, 1fr);
  }
  .floating-text {
    font-size: 1.6666666667vw;
  }
  .grid-feature {
    grid: repeat(2, 1fr)/repeat(3, 1fr);
  }
  .feature-image img {
    width: 2.9166666667vw;
  }
  .feature-title {
    font-size: 1.4583333333vw;
    margin-top: 1.6666666667vw;
    margin-bottom: 1.6666666667vw;
  }
  .feature-subtitle {
    font-size: 1.1111111111vw;
  }
  .phone-team {
    display: none;
  }
  .rating {
    margin-top: 1.0416666667vw;
  }
  .rating img {
    width: 8.4027777778vw;
  }
  .tml-review {
    margin-left: 2.7777777778vw;
  }
  .desc {
    font-size: 1.25vw;
    margin-top: 2.1527777778vw;
  }
  .desig {
    font-size: 1.1111111111vw;
    margin-top: 3.3333333333vw;
  }
  .desig span {
    margin-left: 0.9027777778vw;
  }
  .tml-image img {
    width: 16.5972222222vw;
  }
  .testimonial {
    gap: 3.1944444444vw;
    margin: 0 5vw;
  }
  .price-card-premium, .price-card-free {
    height: 33.0555555556vw;
    width: 22.0833333333vw;
    border-radius: 0.8333333333vw;
  }
  footer {
    margin-top: 7.0833333333vw;
  }
  .nav-bottom {
    padding-top: 4.1666666667vw;
  }
  .section-footer {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 916px) {
  .background {
    background-image: url("./assets/images/bg-tab.png");
    background-size: 170%;
    background-position: 50% 40%;
  }
  .section,
  .sign {
    display: none;
  }
  .option {
    display: block;
  }
  .logo img {
    height: 30px;
  }
  .logo .logo-title {
    font-size: 1rem;
    letter-spacing: 3px;
    margin-left: 1rem;
  }
  .option span {
    font-size: 2.3rem;
  }
  .nav {
    padding: 3.3573141487vw 6.8345323741vw 0;
  }
  .btn {
    width: 14.7482014388vw;
    height: 6.2350119904vw;
    border-radius: 1.1990407674vw;
    font-size: 1.9184652278vw;
  }
  .tml-image img {
    width: 28.6570743405vw;
  }
  .face {
    height: 80vh;
  }
  .face .face-title {
    font-size: 4.1966426859vw;
  }
  .face .face-title h1 {
    margin-bottom: 3.5971223022vw;
    width: 80%;
  }
  .face .face-subtitle {
    font-size: 2.3980815348vw;
    margin-bottom: 3.5971223022vw;
  }
  .face .btn-outline {
    margin-left: 2.3980815348vw;
  }
  .company {
    grid: repeat(2, 1fr)/repeat(2, 1fr);
  }
  .floating-text {
    font-size: 2.3980815348vw;
  }
  .grid-feature {
    grid: repeat(3, 1fr)/repeat(2, 1fr);
  }
  .feature-image img {
    width: 5.035971223vw;
  }
  .feature-title {
    font-size: 2.5179856115vw;
    margin-top: 2.8776978417vw;
    margin-bottom: 2.8776978417vw;
  }
  .feature-subtitle {
    font-size: 1.9184652278vw;
  }
  .phone-team {
    display: none;
  }
  .rating {
    margin-top: 1.7985611511vw;
  }
  .rating img {
    width: 14.5083932854vw;
  }
  .desc {
    font-size: 2.1582733813vw;
    margin-top: 3.7170263789vw;
  }
  .desig {
    font-size: 1.9184652278vw;
    margin-top: 5.7553956835vw;
  }
  .desig span {
    margin-left: 1.5587529976vw;
  }
  .tml-review {
    margin-left: 4.7961630695vw;
  }
  .testimonial {
    flex-direction: column;
    gap: 5.035971223vw;
    margin: 0 8.6330935252vw;
  }
  .price-card-premium, .price-card-free {
    height: 57.0743405276vw;
    width: 38.1294964029vw;
    border-radius: 1.4388489209vw;
  }
  .price-card h1 {
    font-size: 2.5179856115vw;
    padding-top: 3.7170263789vw;
  }
  .price-card {
    text-align: center;
    color: white;
  }
  .price-card h1 {
    font-weight: 700;
    font-size: 2.5179856115vw;
    padding-top: 3.7170263789vw;
  }
  .price-card h2 {
    font-size: 1.9184652278vw;
    margin-top: 0.2613908873vw;
  }
  .price-card-free h1 {
    font-size: 2.5179856115vw;
    padding-top: 3.7170263789vw;
  }
  .price-card-free h2 {
    font-size: 1.9184652278vw;
    margin-top: 0.2613908873vw;
  }
  .amount {
    font-size: 5.7553956835vw;
  }
  .price {
    margin-top: 2.8189448441vw;
  }
  .month {
    font-size: 1.9184652278vw;
  }
  .premium-hr {
    margin-top: 2.3980815348vw;
  }
  .free-hr {
    margin-top: 2.3980815348vw;
  }
  .price-card-ul {
    margin-top: 3.8369304556vw;
  }
  .price-card-ul li {
    font-size: 1.9184652278vw;
    margin: 2.9976019185vw;
  }
  .price-btn {
    font-size: 1.9184652278vw;
    width: 23.9808153477vw;
    height: 6.7146282974vw;
    border-radius: 0.9592326139vw;
    margin-top: 1.7985611511vw;
  }
  .price-card-free {
    height: 57.0743405276vw;
    width: 38.1294964029vw;
  }
  .pricing-div {
    flex-direction: column;
  }
  .price-title {
    font-weight: 600;
    font-size: 5.035971223vw;
    margin: 1.1990407674vw 2.3980815348vw;
  }
  .price-title p {
    width: 90%;
  }
  .price-card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 9.5923261391vw;
  }
  .pricing-div {
    display: flex;
    margin-top: 17.9856115108vw;
  }
  .nav-bottom {
    flex-direction: column;
  }
  .bottom {
    height: 41.9664268585vw;
    width: 100vw;
  }
  .section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48.4412470024vw;
  }
  .social-media {
    display: flex;
  }
  .social-media img {
    width: 3.3573141487vw;
    margin-left: 1.4388489209vw;
  }
  .social-media .twitter-img {
    margin-left: 0;
  }
  .nav {
    gap: 4.4364508393vw;
  }
  .footer-hr {
    width: 91.1270983213vw;
    margin-top: 4.7961630695vw;
  }
  .footer-list {
    font-size: 1.6786570743vw;
  }
  .footer-list li {
    margin-top: 1.4388489209vw;
  }
  footer {
    margin-top: 4.7961630695vw;
  }
  .section-footer {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .background {
    background-image: url("./assets/images/bg-phn.png");
    background-size: 200%;
    background-position: 98%;
  }
  .section,
  .sign {
    display: none;
  }
  .option {
    display: block;
  }
  .option svg {
    font-size: 1rem;
  }
  .logo img {
    height: 30px;
  }
  .logo .logo-title {
    font-size: 1rem;
    letter-spacing: 3px;
    margin-left: 1rem;
  }
  .option span {
    font-size: 2.3rem;
  }
  .nav {
    padding: 6.1538461538vw 6.9230769231vw 0;
  }
  .btn {
    width: 31.5384615385vw;
    height: 13.3333333333vw;
    border-radius: 2.5641025641vw;
    font-size: 4.1025641026vw;
  }
  .face {
    margin-left: 6.9230769231vw;
    text-align: left;
    height: 75vh;
    align-items: flex-start;
  }
  .face .face-title {
    font-size: 8.4615384615vw;
  }
  .face .face-title h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 7.6923076923vw;
    width: 90%;
  }
  .face .face-subtitle {
    font-size: 5.1282051282vw;
    margin-bottom: 7.6923076923vw;
    width: 90%;
  }
  .face .btn-outline {
    margin-left: 5.1282051282vw;
  }
  .company {
    grid: repeat(4, 1fr)/1fr;
  }
  .floating-text {
    font-size: 5.1282051282vw;
  }
  .grid-feature {
    grid-template-columns: 1fr;
  }
  .feature-image img {
    width: 10.7692307692vw;
  }
  .feature-title {
    font-size: 5.3846153846vw;
    margin-top: 6.1538461538vw;
    margin-bottom: 6.1538461538vw;
  }
  .feature-subtitle {
    font-size: 4.1025641026vw;
  }
  .desktop-team {
    display: none;
  }
  .rating {
    margin-top: 3.8461538462vw;
  }
  .rating img {
    width: 31.0256410256vw;
  }
  .desc {
    font-size: 4.6153846154vw;
    margin-top: 7.9487179487vw;
  }
  .desig {
    font-size: 4.1025641026vw;
    margin-top: 12.3076923077vw;
  }
  .desig span {
    margin-left: 3.3333333333vw;
  }
  .tml-image img {
    width: 61.2820512821vw;
  }
  .tml, .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .tml-review {
    width: 61.2820512821vw;
    margin-top: 10.2564102564vw;
  }
  .tml-image {
    margin-top: 10.2564102564vw;
  }
  .price-card-premium, .price-card-free {
    height: 122.0512820513vw;
    width: 81.5384615385vw;
    border-radius: 3.0769230769vw;
  }
  .price-card h1 {
    font-size: 5.3846153846vw;
    padding-top: 7.9487179487vw;
  }
  .price-card-premium, .price-card-free {
    height: 122.0512820513vw;
    width: 81.5384615385vw;
    border-radius: 3.0769230769vw;
  }
  .price-card h1 {
    font-size: 5.3846153846vw;
    padding-top: 7.9487179487vw;
  }
  .price-card {
    text-align: center;
    color: white;
  }
  .price-card h1 {
    font-weight: 700;
    font-size: 5.3846153846vw;
    padding-top: 7.9487179487vw;
  }
  .price-card h2 {
    font-size: 4.1025641026vw;
    margin-top: 0.558974359vw;
  }
  .price-card-free h1 {
    font-size: 5.3846153846vw;
    padding-top: 7.9487179487vw;
  }
  .price-card-free h2 {
    font-size: 4.1025641026vw;
    margin-top: 0.558974359vw;
  }
  .amount {
    font-size: 12.3076923077vw;
  }
  .price {
    margin-top: 6.0282051282vw;
  }
  .month {
    font-size: 4.1025641026vw;
  }
  .premium-hr {
    margin-top: 5.1282051282vw;
  }
  .free-hr {
    margin-top: 5.1282051282vw;
  }
  .price-card-ul {
    margin-top: 8.2051282051vw;
  }
  .price-card-ul li {
    font-size: 4.1025641026vw;
    margin: 6.4102564103vw;
  }
  .price-btn {
    font-size: 4.1025641026vw;
    width: 51.2820512821vw;
    height: 14.358974359vw;
    border-radius: 2.0512820513vw;
    margin-top: 3.8461538462vw;
  }
  .price-card-free {
    height: 122.0512820513vw;
    width: 81.5384615385vw;
  }
  .pricing-div {
    flex-direction: column;
  }
  .price-title {
    font-size: 10.7692307692vw;
    margin: 2.5641025641vw 5.1282051282vw;
  }
  .price-title p {
    width: 90%;
  }
  .price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20.5128205128vw;
  }
  .pricing-div {
    display: flex;
    margin-top: 38.4615384615vw;
  }
  .nav-bottom {
    flex-direction: column;
  }
  .section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.641025641vw;
  }
  .social-media {
    display: flex;
  }
  .social-media img {
    width: 7.1794871795vw;
    margin-left: 3.0769230769vw;
  }
  .social-media .twitter-img {
    margin-left: 0;
  }
  .nav {
    gap: 6.4102564103vw;
    padding-top: 12.8205128205vw;
  }
  .footer-hr {
    width: 81.7948717949vw;
    margin-top: 10.7692307692vw;
  }
  .footer-list li {
    margin-top: 5.1282051282vw;
    font-size: 3.0769230769vw;
  }
  .bottom {
    margin-top: 5.3846153846vw;
    height: 121.2820512821vw;
    margin-right: 0;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */
