.btn {
    background-color: #DBF301;
    border: none;
    border-radius: 10px;
    width: 8.45em;
    height:3.575em;
    font-weight: 500;
}

.btn-outline {
    border: 2px solid #DBF301;
    background: none;
    border-radius: 10px;
    width: 8.45em;
    height:3.575em;
    font-weight: 500;
    margin-left: 2rem;
}

.btn:hover {
    border: 2px solid #DBF301;
    background: none;
    border-radius: 10px;
    width: 8.45em;
    height:3.575em;
    font-weight: 500;
}

.btn-outline:hover {
    background-color: #DBF301;
    border: none;
    border-radius: 10px;
    width: 8.45em;
    height:3.575em;
    font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

.floating-text {
    text-align: center;
    font-size: 1.65em;
    padding: 5% 15%;
}
