.background {
    height: 100vh;
    background-repeat: no-repeat;
}

.btn-yellow {
    background-color: #DBF301;
    border: none;
}

.btn {
    border-radius: 10px;
    width: 8.45em;
    height:3.575em;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.btn-outline {
    border: 2px solid #DBF301;
    background-color: white;
    margin-left: 2rem;
}



.btn-yellow:hover {
    background-color: #c8de02;
}

.btn-outline:hover {
    background-color: #e8e8e8;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.logo-title {
    margin-left: .8em;
}

.section {
    display: inline-flex;
    justify-items: space-between;
    align-content: center;
    font-weight: 500;
    flex-basis: 30%;
    cursor: pointer;
}

.section-item {
    flex-basis: 200px;
    min-width: 100px;
}

.our-team {
    text-align: center;
}

.pricing {
    text-align: right;
}

.sign > span {
    margin-right: 1.5rem;
}

.sign {
    display: inline;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
}

.company {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15% 0;
}

.face {
    height: 70vh;
}

.grid-feature {
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 2px;
    background-color: #A7A1A148;
    text-align: center;
    margin: 5% 5%;
    top: 50%;
}

#features {
    height: 100vh;
    vertical-align: middle;
}

.feature-box {
    background-color: white;
}

.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
}

.feature-title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.feature-subtitle {
    width: 95%;
}