* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.floating-text {
    text-align: center;
    padding: 5% 15%;
    font-size: 1.5rem;
}

.logo-title {
    font-weight: 700;
    letter-spacing: 3px;
}

.nav {
  font-weight: 500;
}

.section {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.face-title > h1 {
  text-align: center;
  font-weight: 800;
}

.face-subtitle {
  text-align: center;
  font-size: 1.3rem;
}